@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  outline: none;

}


.root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container{
  width: 95%;
}
.header{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paymona{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.companyName{
  color :#1D214E;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  padding-left: 20px;
}
.menu-Panel{
  display: flex;
  align-items: center;
}
.items{
  color: #ffffff;
  font-weight: 400;
  padding-right: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}
.headerSvg{
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
}
.enter{
  color: #ffffff;
  background-color: rgba(3, 194, 236, 1);
  border-radius: 50px;
  padding: 8px 12px
}

.analisys{
  width: 70%;
  display: flex;
  margin: 120px 0 0 100px;

}

.react{
  position: absolute;
  left: 0;
  top: 160px;
  z-index: -10;
}
blue{
  color: rgba(3, 194, 236, 1);
}
.title{
  font-weight: 700;
  font-size: 85px;
  line-height: 106.85px;
}
.analisys-circle{
  position: absolute;
  border-radius: 50%;
  width: 517px;
  height: 517px;
  background:#EAF3FC;
}